@font-face {
    font-family: Roboto;
    src: url("../fonts//Roboto/Roboto-Regular.ttf");
    font-weight: normal;
}


@font-face {
    font-family: Roboto-medium;
    src: url("../fonts//Roboto/Roboto-Medium.ttf");
    font-weight: medium;
}

@font-face {
    font-family: Roboto-thin;
    src: url("../fonts//Roboto/Roboto-Thin.ttf");
    font-weight: thin;
}

h1, h2, h3, h4, h5, h6, p {
    color: #fff;
}

* {
    font-family:  Roboto;
}

body {
    background: rgb(58, 58, 58);
}
